<?xml version="1.0"?>
 <!--@copyright Copyright (c) 2016 www.magebuzz.com-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magebuzz_Dailydeal::dailydeal" title="Dailydeal" sortOrder="20">
                    <resource id="Magebuzz_Dailydeal::manage_deals" title="Manage Deals" sortOrder="1"></resource>
                    <resource id="Magebuzz_Dailydeal::manage_subscribers" title="Manage Subscribers" sortOrder="2"></resource>
                    <resource id="Magebuzz_Dailydeal::settings" title="Settings" sortOrder="3"></resource>
                </resource>
                
                <!-- system config settings -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Backend::config">
                            <resource id="Magebuzz_Dailydeal::dailydeal_config" title="Dailydeal Section" />
                        </resource>
                    </resource>
                </resource>
                
            </resource>
        </resources>
    </acl>
</config>