<?xml version="1.0"?>
 <!--@copyright Copyright (c) 2016 www.magebuzz.com-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Plugin-->
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="magebuzz-dailydeal-block-product-list" 
                type="Magebuzz\Dailydeal\Plugin\BlockProductList" sortOrder="1"/>
    </type>
    
    <virtualType name="DailydealGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!--Deal-->
    <preference for="Magebuzz\Dailydeal\Api\Data\DealInterface" type="Magebuzz\Dailydeal\Model\Deal" />
    <virtualType name="DealGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magebuzz\Dailydeal\Model\Resource\Deal\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DailydealGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magebuzz\Dailydeal\Model\ResourceModel\Deal\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dailydeal_deal</argument>
            <argument name="resourceModel" xsi:type="string">Magebuzz\Dailydeal\Model\ResourceModel\Deal</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dailydeal_deal_listing_data_source" xsi:type="string">Magebuzz\Dailydeal\Model\ResourceModel\Deal\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <!--Subscriber-->
    <preference for="Magebuzz\Dailydeal\Api\Data\SubscriberInterface" type="Magebuzz\Dailydeal\Model\Subscriber" />
    <virtualType name="SubscriberGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magebuzz\Dailydeal\Model\Resource\Subscriber\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DailydealGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magebuzz\Dailydeal\Model\ResourceModel\Subscriber\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dailydeal_subscriber</argument>
            <argument name="resourceModel" xsi:type="string">Magebuzz\Dailydeal\Model\ResourceModel\Subscriber</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dailydeal_subscriber_listing_data_source" xsi:type="string">Magebuzz\Dailydeal\Model\ResourceModel\Subscriber\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
</config>