<?xml version="1.0"?>
 <!--@copyright Copyright (c) 2016 www.magebuzz.com-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebuzz" translate="label" sortOrder="9000">
            <label>Extensions</label>
        </tab>
        <section id="dailydeal" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Dailydeal</label>
            <tab>magebuzz</tab>
            <resource>Magebuzz_Dailydeal::dailydeal_config</resource>
            
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable deal</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_previous_deals" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show previous deals</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_coming_deals" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show coming deals</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_share_buttons" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show share buttons</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sharing_template_message" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Social sharing template message</label>
                    <depends>
                        <field id="show_share_buttons">1</field>
                    </depends>
                </field>
<!--                <field id="allow_show_all_deals" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow to show all Deals</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="deal_per_page" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Deals per Page on Grid Allowed</label>
                </field>-->
                <field id="show_on_sidebar" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Today Deals on Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_round_saving" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Round up saving number</label>
                    <comment><![CDATA[Saving number will show as integer without decimal places.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            
            <group id="subscription" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscription Setting</label>
                <field id="allow_subscribe" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow customer to subscribe to receive new daily deal notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
<!--                <field id="email_sender" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email sender</label>
                    <source_model>Magebuzz\Dailydeal\Model\Config\Source\EmailSender</source_model>
                </field>-->
                <field id="confirm_email_template" translate="label" type="hidden" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Daily Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="intro_message" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Intro message</label>
                    <comment><![CDATA[The message which show in popup to customer enter email]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>